anthropic
celery
channels
channels-redis
django
django-cors-headers
django-encrypted-model-fields
djangorestframework
djangorestframework-simplejwt
mcp>=1.2.0
pgvector
psycopg2-binary
python-decouple
sentence-transformers
uvicorn[standard]
whitenoise
