anthropic
celery
channels
channels-redis
django
django-cors-headers
django-encrypted-model-fields
djangorestframework
djangorestframework-simplejwt
google-genai
httpx
mcp>=1.2.0
mistralai
openai
pgvector
psycopg2-binary
python-decouple
sentence-transformers
sentry-sdk
uvicorn[standard]
whitenoise
