aiohttp==3.11.13
anthropic==0.49.0
asn1crypto==1.5.1
astunparse==1.6.3
celery==5.4.0
channels-redis==4.2.1
charset-normalizer==3.4.1
cycler==0.12.1
django-cors-headers==4.7.0
django-encrypted-model-fields==0.6.5
djangorestframework-simplejwt==5.5.0
google-generativeai==0.8.5
jsonschema-specifications==2024.10.1
langchain==0.3.23
langcodes==3.5.0
langdetect==1.0.9
libclang==18.1.1
lxml==5.3.2
mdurl==0.1.2
mypy-extensions==1.0.0
openai-agents==0.0.5
opt-einsum==3.4.0
optree==0.15.0
pip-check-reqs==2.5.3
pipreqs==0.5.0
playwright==1.51.0
psycopg2-binary==2.9.10
pyasn1-modules==0.4.2
python-decouple==3.8
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacy-universal-sentence-encoder==0.4.6
tensorboard-data-server==0.7.2
tensorflow-io-gcs-filesystem==0.37.1
tinycss2==1.4.0
types-pyyaml==6.0.12.20250402
types-tqdm==4.67.0.20250417
uvicorn==0.34.0
whitenoise==6.9.0
